<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New User</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <h2 class="text-center mb-4">Create New User</h2>
  <p class="text-center text-danger font-weight-bold mb-4">All fields are required!</p>
  <form (ngSubmit)="onCreateUser()" class="shadow p-4 bg-light rounded">



    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="name" name="name" required>
    </div>

    <div class="form-group">
      <label for="lastname">Last name</label>
      <input type="text" id="lastname" class="form-control" [(ngModel)]="lastName" name="lastname" required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
    </div>

    <h3 class="mt-4">Permissions</h3>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="can_create" name="can_create" class="form-check-input">
        <label class="form-check-label">Can create user</label>
      </div>
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="can_delete" name="can_delete" class="form-check-input">
        <label class="form-check-label">Can delete user</label>
      </div>
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="can_update" name="can_update" class="form-check-input">
        <label class="form-check-label">Can update user</label>
      </div>
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="can_read" name="can_search" class="form-check-input">
        <label class="form-check-label">Can search user</label>
      </div>

      <div class="form-check">
        <input type="checkbox" [(ngModel)]="can_search_order" name="can_search_order" class="form-check-input">
        <label class="form-check-label">Can search order</label>
      </div>
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="can_track_order" name="can_track_order" class="form-check-input">
        <label class="form-check-label">Can track order</label>
      </div>
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="can_schedule_order" name="can_schedule_order" class="form-check-input">
        <label class="form-check-label">Can schedule order</label>
      </div>
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="can_cancel_order" name="can_cancel_order" class="form-check-input">
        <label class="form-check-label">Can cancel order</label>
      </div>
    </div>
    <div *ngIf="message" class="alert" [ngClass]="{'alert-success': message.type === 'success', 'alert-danger': message.type === 'error'}">
      {{ message.text }}
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-lg mt-3">Create User</button>
    </div>

  </form>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
